<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<clear/>
		<add key="GoogleClientID" value=""/>
		<add key="GoogleClientSecret" value=""/>
		<add key="GoogleApplicationName" value=""/>
		<add key="TimeZone" value=""/>
		<add key="GoogleCalendarId" value=""/>
		<add key="PostalCode" value=""/>
		<add key="Housenumber" value=""/>
		<add key="HousenumberSuffix" value=""/>
		<add key="EventDescription" value=""/>
		<add key="EventLocation" value=""/>
	</appSettings>
</configuration>